<!-- Left Sidebar -->
<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button"><i class="zmdi zmdi-menu"></i></button>
        <a href="{{ path('homepage_redirect') }}"><img src="{{ asset('assets/admin/images/logo.png') }}" width="25" alt="Aero"><span class="m-l-10">GSGT-Auth</span></a>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href="{{ path('account_profile') }}"><img src="{{ asset('assets/admin/images/profile_av.jpg') }}" alt="User"></a>
                    <div class="detail">
                        <h6>
                            {% set array = app.user | upper | split(' ') %}
                            {{ attribute(array, 0) }}
                            {% if array|length > 1 %}
                                {% for i in 1..array|length - 1  %}
                                    {% if i < 2 %}
                                        {{ attribute(array, i) }}
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </h6>
                        <small>{{ app.user.rule }}</small>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>