{% extends 'admin/admin_base.html.twig' %}

{% block title %}Page de {{user.fullName}}{% endblock %}

{% block body %}

    <div class="container">
        <div class="row align-items-center mb-5">
            {#<div class="col-md-12 text-center">
                {% if user.imageName %}
                    <img src="{{ vich_uploader_asset(user, 'imageFile') | imagine_filter('article')  }}" alt="{{ user.fullName }}">
                {% else %}
                    <img src="{{ asset('assets/images/logo.png') }}" alt="{{ user.fullName }}">
                {% endif %}
            </div>#}
            <div class="col-md-12 text-center">
                <h2>{{ user.fullName }}</h2>
                <hr>
                <h3>{{ user.username }}</h3>
                <hr>
                <h4>{{ user.rule }}</h4>
                <hr>
                {% if user is same as(app.user) %}
                    <div class="mt-3">
                        <a href="{{ path('account_profile') }}" class="btn btn-primary mr-2 mb-2">Update my informations</a>
                        <a href="{{ path('account_password') }}" class="btn btn-primary mb-2">Update my password</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
