{% extends 'admin/admin_base.html.twig' %}

{% block title %}Update of the password{% endblock %}

{% block body %}

    <div class="container clearfix">
        <h1 class="my-5">Update of the password</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary float-right">
            <i class="fa fa-check"></i>
            Update the password
        </button>
        {{ form_end(form) }}

    </div>
{% endblock %}