{% extends 'admin/admin_base.html.twig' %}

{% block title %}{{ parent() }}Update the profile{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-11 mx-auto">
            <div class="card">
                <div class="card-body">
                    <h6 class="text-uppercase text-center">
                        Update the profile
                    </h6>
                    <hr>
                    {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(form.name) }}
                                {{ form_errors(form.name) }}
                                {{ form_widget(form.name) }}
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="form-group">
                                {{ form_label(form.email) }}
                                {{ form_errors(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                        </div>
                    </div>
                    {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary">
                        <i class="fa fa-check"></i>
                        Save the modifications
                    </button>
                </div>
            </div>
        </div>
    </div><!--End Row-->
{% endblock %}