{% extends 'user_base.html.twig' %}

{% block title %}Inscription{% endblock %}

{#
{% block body %}
    <div class="container">
        <h1 class="my-5">Inscrivez vous sur notre site !</h1>

        {{ form_start(form) }}

        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2 class="alert-heading">Informations générales</h2>
                    <hr>
                    {{ form_row(form.firstName) }}
                    {{ form_row(form.lastName) }}
                    {{ form_row(form.email) }}
                </div>

                <div class="alert alert-light">
                    <h2 class="alert-heading">Mot de passe</h2>
                    <hr>
                    {{ form_row(form.password) }}
                </div>
            </div>
            <div class="col">
                <div class="alert alert-light">
                    <hr>
                    <p>Vous y êtes presque, confirmez votre inscription et rejoignez nous !</p>
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-check"></i>
                        Confirmez l'inscription
                    </button>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}#}
{% block user_content %}
            <div class="card-content p-2">
                <div class="text-center">
                    <img height="75" src="{{ asset('assets/images/logo-icon.png') }}">
                </div>
                <div class="card-title text-uppercase text-center py-3">Sign Up</div>
                {{ form_start(form) }}
                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <label for="" class="sr-only">First Name</label>
                            {{ form_widget(form.firstName) }}
                            <div class="form-control-position">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <label for="" class="sr-only">Last Name</label>
                            {{ form_widget(form.lastName) }}
                            <div class="form-control-position">
                                <i class="icon-user"></i>
                            </div>
                        </div>
                    </div>
                <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <label for="" class="sr-only">Email</label>
                            {{ form_widget(form.email) }}
                            <div class="form-control-position">
                                <i class="icon-envelope-open"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <label for="" class="sr-only">Password</label>
                            {{ form_errors(form.password.first) }}
                            {{ form_widget(form.password.first) }}
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="position-relative has-icon-right">
                            <label for="" class="sr-only">Repeat Password</label>
                            {{ form_errors(form.password.second) }}
                            {{ form_widget(form.password.second) }}
                            <div class="form-control-position">
                                <i class="icon-lock"></i>
                            </div>
                        </div>
                    </div>
                {{ form_rest(form) }}
                    <button type="submit" class="btn btn-primary shadow-primary btn-round btn-block waves-effect waves-light">Sign Up</button>
                {{ form_end(form) }}
            </div>
{% endblock %}