<!DOCTYPE html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Authentication app in symfony 5">
    <title>{% block title %}GSGT-Auth::{% endblock %}</title>

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') | replace({'src=' :'defer src='}) | raw }}

    <link rel="icon" href="{{ asset('assets/admin/images/favicon.ico') }}" type="image/x-icon"> <!-- Favicon-->
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/charts-c3/plugin.css') }}"/>

    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/morrisjs/morris.min.css') }}" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="{{ asset('assets/admin/css/style.min.css') }}">
</head>

<body class="theme-green">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="m-t-30"><img class="zmdi-hc-spin" src="{{ asset('assets/admin/images/logo.png') }}" width="48" height="48" alt="Aero"></div>
        <p>Please wait...</p>
    </div>
</div>

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<!-- Main Search -->
<div id="search">
    <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round">x</button>
    <form>
        <input type="search" value="" placeholder="Search..." />
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>

{% include 'partials/top-sidebar.html.twig' %}

{% include 'partials/left-sidebar.html.twig' %}

{% include 'partials/right-sidebar.html.twig' %}


<!-- Main Content -->

<section class="content">
    <div class="row">
        {% for type, msgs in app.flashes(['warning', 'error', 'success', 'info']) %}
            {%for msg in msgs %}
                <div style="font-size: 20px;" id="flashbag-alert" class="alert alert-{{ type }} col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    {{msg}}
                </div>
            {% endfor %}
        {% endfor%}
    </div>
    {% block body %}
    {% endblock %}
</section>


<!-- Jquery Core Js -->
<script src="{{ asset('assets/admin/bundles/libscripts.bundle.js') }}"></script> <!-- Lib Scripts Plugin Js ( jquery.v3.2.1, Bootstrap4 js) -->
<script src="{{ asset('assets/admin/bundles/vendorscripts.bundle.js') }}"></script> <!-- slimscroll, waves Scripts Plugin Js -->

<script src="{{ asset('assets/admin/bundles/jvectormap.bundle.js') }}"></script> <!-- JVectorMap Plugin Js -->
<script src="{{ asset('assets/admin/bundles/sparkline.bundle.js') }}"></script> <!-- Sparkline Plugin Js -->
<script src="{{ asset('assets/admin/bundles/c3.bundle.js') }}"></script>

<script src="{{ asset('assets/admin/bundles/mainscripts.bundle.js') }}"></script>
<script src="{{ asset('assets/admin/js/pages/index.js') }}"></script>
<script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>
<script>
    $("div#flashbag-alert").show("slow").delay(6000).hide("slow");
</script>

<!-- Include Flashy default partial -->
{{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>
</html>
