<h1>Activation of your account</h1>
<p>You have create an account on our app, Click on this link to activate the account</p>
<p><a href="{{ absolute_url(path('activation', { 'token': token})) }}">Activate my account</a></p>