{% extends 'auth/base_auth.html.twig' %}

{% block title %}{{ parent() }}Registration{% endblock %}

{% block user_content %}
    <div class="row">
        <div class="col-lg-5 col-sm-12">
                {{ form_start(form, {'attr' : {'class' : 'card auth_form' } }) }}
                    <div class="header">
                        <img class="logo" src="{{ asset('assets/admin/images/logo.png') }}" alt="">
                        <h5>Sign Up</h5>
                    </div>
                    <div class="body">
                        <div class="input-group mb-3">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-add"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_errors(form.username) }}
                            {{ form_widget(form.username) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_errors(form.plainPassword.first) }}
                            {{ form_widget(form.plainPassword.first, { 'attr' : {'placeholder' : 'Your Password...'}}) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            {{ form_errors(form.plainPassword.second) }}
                            {{ form_widget(form.plainPassword.second, { 'attr' : {'placeholder' : 'Repeat You Password...'}}) }}
                            <div class="input-group-append">
                                <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                            </div>
                        </div>
                        <div class="checkbox">
                            {{ form_errors(form.agreeTerms) }}
                            {{ form_widget(form.agreeTerms) }}
                        </div>
                        <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SIGN UP</button>
                        <div class="signin_with mt-3">
                            <a class="link" href="{{ path('app_login') }}">You already have a membership?</a>
                        </div>
                    </div>
            {{ form_end(form) }}
            <div class="copyright text-center">
                &copy;
                <script>document.write(new Date().getFullYear())</script>,
                <span>Made by <a href="https://www.greensoft-group.com" target="_blank">GreenSoft-Group Team</a></span>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="card">
                <img src="{{ asset('assets/admin/images/signup.svg') }}" alt="Sign Up" />
            </div>
        </div>
    </div>
{% endblock %}