<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully authentication app built in symfony 5">
    <meta name="author" content="GreenSoft-Group Technologies">

    <link rel="shortcut icon" href="{{ asset('assets/admin/images/favicon.ico') }}">
    <title>{% block title %}GSGT-Auth::{% endblock %}</title>

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>

    <!-- Bootstrap core CSS -->
    <link href="{{ asset('assets/public/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Owl Carousel CSS -->
    <link href="{{ asset('assets/public/css/owl.carousel.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/public/css/owl.theme.default.min.css') }}" rel="stylesheet">

    <!-- Icon CSS -->
    <link href="{{ asset('assets/public/css/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ asset('assets/public/css/style.css') }}" rel="stylesheet">

    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') | replace({'src=' :'defer src='}) | raw }}
</head>

<body data-spy="scroll" data-target="#navbar-menu">
<!-- Navbar -->
<div class="navbar navbar-custom sticky navbar-fixed-top" role="navigation" id="sticky-nav">
    <div class="container">

        <!-- Navbar-header -->
        <div class="navbar-header">

            <!-- Responsive menu button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- LOGO -->
            <a class="navbar-brand logo" href="{{ path('homepage_redirect') }}">
                GSGT-<span class="text-custom">Auth</span>
            </a>

        </div>
        <!-- end navbar-header -->

        <!-- menu -->
        <div class="navbar-collapse collapse" id="navbar-menu">

            <!-- Navbar right -->
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{{ path('homepage_redirect') }}" class="nav-link">Home</a>
                </li>
                <li>
                    <a href="{{ path('app_login') }}">Login</a>
                </li>

            </ul>

        </div>
        <!--/Menu -->
    </div>
    <!-- end container -->
</div>
<!-- End navbar-custom -->



<!-- HOME -->
<section class="home bg-img-1" id="home">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <div class="home-fullscreen">
                    <div class="full-screen">
                        <div class="home-wrapper home-wrapper-alt">
                            <h2 class="font-light text-white">GSGT-AUTH is a fully feature for users authentication in Symfony 5 applications</h2>
                            {#<h4 class="text-white">Ubold is a fully featured premium admin template built on top of awesome Bootstrap 3.3.7, modern web technology HTML5, CSS3 and jQuery. It has many ready to use hand crafted components. </h4>#}
                            <a href="https://www.greensoft-group.com" target="_blank" class="btn btn-custom">Visit the site</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END HOME -->


<!-- Back to top -->
<a href="#" class="back-to-top" id="back-to-top"> <i class="fa fa-angle-up"></i> </a>

<!-- js placed at the end of the document so the pages load faster -->
<script src="{{ asset('assets/public/js/jquery-2.1.4.min.js') }}"></script>
<script src="{{ asset('assets/public/js/bootstrap.min.js') }}"></script>

<!-- Jquery easing -->
<script type="text/javascript" src="{{ asset('assets/public/js/jquery.easing.1.3.min.js') }}"></script>

<!-- Owl Carousel -->
<script type="text/javascript" src="{{ asset('assets/public/js/owl.carousel.min.js') }}"></script>

<!--sticky header-->
<script type="text/javascript" src="{{ asset('assets/public/js/jquery.sticky.js') }}"></script>

<!--common script for all pages-->
<script src="{{ asset('assets/public/js/jquery.app.js') }}"></script>

<script type="text/javascript">
    $('.owl-carousel').owlCarousel({
        loop:true,
        margin:10,
        nav:false,
        autoplay: true,
        autoplayTimeout: 4000,
        responsive:{
            0:{
                items:1
            }
        }
    })
</script>

</body>
</html>