<!doctype html>
<html class="no-js " lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Full Authentication in Symfony 4 & Symfony 5">

    <title>{% block title %}GST-Auth::{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') | replace({'src=' :'defer src='}) | raw }}
    <!-- Favicon-->
    <link rel="icon" href="{{ asset('assets/admin/images/favicon.ico') }}" type="image/x-icon">
    <!-- Custom Css -->
    <link rel="stylesheet" href="{{ asset('assets/admin/plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/admin/css/style.min.css') }}">
</head>

<body class="theme-blush">
<div class="row">
</div>
    <div class="authentication">
        <div class="container">
            {% block user_content %}
            {% endblock %}
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="{{ asset('assets/admin/bundles/libscripts.bundle.js') }}"></script>
    <script src="{{ asset('assets/admin/bundles/vendorscripts.bundle.js') }}"></script> <!-- Lib Scripts Plugin Js -->
    <script src="{{ asset('bundles/mercuryseriesflashy/js/flashy.js') }}"></script>

    <!-- Include Flashy default partial -->
    {{ include('@MercurySeriesFlashy/flashy.html.twig') }}
</body>
</html>