{% extends 'auth/base_auth.html.twig' %}

{% block title %}{{ parent() }}Password forgotten{% endblock %}

{% block user_content %}
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            {{ form_start(form, {'attr' : {'class' : 'card auth_form' } }) }}
                <div class="header">
                    <img class="logo" src="{{ asset('assets/admin/images/logo.png') }}" alt="">
                    <h5>Forgot Password?</h5>
                    <span>Enter your e-mail address below to reset your password.</span>
                </div>
                <div class="body">
                    <div class="input-group mb-3">
                        {{ form_widget(form.email) }}
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SUBMIT</button>
                    <div class="signin_with mt-3">
                        <a title="Read the documentation" href="{{ path('app_login') }}" class="link">Sign In</a>
                    </div>
                </div>
            {{ form_end(form) }}
            <div class="copyright text-center">
                &copy;
                <script>document.write(new Date().getFullYear())</script>,
                <span>Made by <a href="https://greensoft-group.com/" target="_blank">GreenSoft-Group Team</a></span>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <img src="{{ asset('assets/admin/images/signin.svg') }}" alt="Forgot Password"/>
            </div>
        </div>
    </div>
{% endblock %}
