{% extends 'auth/base_auth.html.twig' %}

{% block title %}{{ parent() }}{% trans %}Authentication{% endtrans %}{% endblock %}

{% block user_content %}
    <div class="row">
        <div class="col-12" style="font-size: 15px;">
            {% if error %}
                <div class="alert text-center alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-sm-12">
            <form class="card auth_form" method="post">
                <div class="text-center">
                    <a style="font-size: 18px" href="{{ path('home') }}">Web Site</a>
                </div>
                <div class="header">
                    <img class="logo" src="assets/admin/images/logo.png" alt="Logo">
                  *  <h5>Log in</h5>
                </div>
                <div class="body">
                    <div class="input-group mb-3">
                        <input autofocus type="text" name="email" value="{{ last_username }}" id="email" class="form-control" required placeholder="Email or username">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="zmdi zmdi-account-circle"></i></span>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password" class="form-control" id="password" required placeholder="Password">
                        <div class="input-group-append">
                            <span class="input-group-text"><i class="zmdi zmdi-lock"></i></span>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    <div class="checkbox">
                        <input id="remember_me" type="checkbox">
                        <label for="remember_me">Remember Me</label>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SIGN IN</button>
                    <div class="signin_with mt-3">
                        <p class="mb-0">or Sign Up using</p>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" class="btn btn-primary btn-icon btn-icon-mini btn-round facebook"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-icon-mini btn-round twitter"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="#" class="btn btn-primary btn-icon btn-icon-mini btn-round google"><i class="zmdi zmdi-google"></i></a>
                        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'github' }) }}" class="btn btn-primary btn-icon btn-icon-mini btn-round google"><i class="zmdi zmdi-github-box"></i></a>
                    </div>
                    <div class="signin_with mt-3">
                        <a class="link" href="{{ path('app_register') }}">I don't have an account</a>
                    </div>
                    <div class="signin_with mt-3">
                        <a class="link" href="{{ path('app_password_forgotten') }}">Forgot my password</a>
                    </div>
                </div>
            </form>
            <div class="copyright text-center">
                &copy;
                <script>document.write(new Date().getFullYear())</script>,
                <span>Made by <a href="https://greensoft-group.com/" target="_blank">GreenSoft-Group Team</a></span>
            </div>
        </div>
        <div class="col-lg-7 col-sm-12">
            <div class="card">
                <img src="assets/admin/images/signin.svg" alt="Sign In"/>
            </div>
        </div>
    </div>
{% endblock %}
