{% extends 'auth/base_auth.html.twig' %}

{% block title %}{{ parent() }}Reset Password{% endblock %}
{% block user_content %}
    <div class="row">
        <div class="col-lg-4 col-sm-12">
            <form class="card auth_form" method="post">
            <div class="header">
                <img class="logo" src="{{ asset('assets/images/logo.png') }}" alt="">
                <h5>Reset your password?</h5>
            </div>
            <div class="body">
                <input type="hidden" name="token" value="{{ token }}">
                <div class="input-group mb-3">
                    <input type="password" name="password" id="password" class="form-control" required placeholder="Your new password ...">
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="zmdi zmdi-email"></i></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-block waves-effect waves-light">SUBMIT</button>
                <div class="signin_with mt-3">
                    <a title="Read the documentation" href="javascript:void(0);" class="link">Need Help?</a>
                </div>
            </div>
                </form>
            <div class="copyright text-center">
                &copy;
                <script>document.write(new Date().getFullYear())</script>,
                <span>Made by <a href="https://greensoft-group.com/" target="_blank">GreenSoft-Group Team</a></span>
            </div>
        </div>
        <div class="col-lg-8 col-sm-12">
            <div class="card">
                <img src="{{ asset('assets/images/signin.svg') }}" alt="Reset password"/>
            </div>
        </div>
    </div>
{% endblock %}
